polkit.addRule(function(action, subject) {
    if (!subject.isInGroup('ready-set') && !subject.isInGroup('gnome-initial-setup'))
        return;

    function isAllowedProgram(name) {
        return name === "stplr" ||
               name === "apt-repo" ||
               name === "apm";
    }

    var actionMatches = false;

    if (action.id === "org.freedesktop.Flatpak.configure-remote") {
        actionMatches = true;
    }

    // TODO: Replace with service
    if (action.id === "org.freedesktop.policykit.exec") {
        var program = action.lookup("program");
        var basename = program.split('/').pop();

        if (isAllowedProgram(basename)) {
            actionMatches = true;
        } else if (basename === "bash") {
            var command_line = action.lookup("command_line");
            var prefix1 = program + " -c ";
            var prefix2 = basename + " -c ";
            var prefix = "";

            if (command_line !== null && command_line.indexOf(prefix1) === 0) {
                prefix = prefix1;
            } else if (command_line !== null && command_line.indexOf(prefix2) === 0) {
                prefix = prefix2;
            }

            if (prefix !== "") {
                var script = command_line.substring(prefix.length);
                var commands = script.split(" && ");
                var allAllowed = true;

                for (var i = 0; i < commands.length; i++) {
                    var firstWord = commands[i].trim().split(/\s+/)[0].split('/').pop();
                    if (!isAllowedProgram(firstWord)) {
                        allAllowed = false;
                        break;
                    }
                }

                if (allAllowed) {
                    actionMatches = true;
                }
            }
        }
    }

    if (actionMatches) {
        if (subject.local)
            return polkit.Result.YES;
        else
            return polkit.Result.AUTH_ADMIN_KEEP;
    }

    return;
});
