[Unit]
Description=Perform OEM Setup
Conflicts=getty@tty1.service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=idle
ExecStart=/usr/libexec/ready-set-ximper
Restart=on-failure
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
User=root
WorkingDirectory=/root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

[Install]
WantedBy=setup.target
