polkit.addRule(function(action, subject) {
    if (subject.user !== "_greeter")
        return;

    var actionMatches =
        action.id.indexOf("org.altlinux.ReadySet.Service.") === 0;

    if (actionMatches) {
        if (subject.local)
            return polkit.Result.YES;
        else
            return polkit.Result.AUTH_ADMIN_KEEP;
    }

    return;
});
