.padding6 {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.zeropadding {
    padding: 0px;
}

.context {
    background-color: var(--view-bg-color);
}
