.padding6 {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.zeropadding {
    padding: 0px;
}

.context {
    background-color: var(--view-bg-color);
}

.page-to-up-regular {
    padding: 0 0 66px 0;
}

.page-to-up-compact {
    padding: 0 0 50px 0;
}
